body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
}

.input-text,
.input-button {
  border: 1px solid gray;
  border-radius: 1rem;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
}

.input-button {
  background-color: rgb(230, 230, 230);
}

.input-text {
  width: 20rem;
}

.items-list {
  gap: 1rem;
  padding: 0;
}

.items-list li {
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 1rem;
  max-width: max-content;
  background: ghostwhite;
  font-size: 1.4rem;
  text-transform: capitalize;
  /* transform: translateX(0); */
}

.items-list li .edit-task,
.items-list li .delete-task {
  display: none; /* Hide the buttons by default */
}

.items-list li:hover .edit-task,
.items-list li:hover .delete-task {
  display: inline-block; /* Show the buttons on hover */
}

.item {
  display: flex;
  gap: 4px;
}

.item input {
  display: flex;
  width: 4rem;
  gap: 8px;
}

.delete-task {
  display: flex;
  width: 64px;
}

.completed {
  text-decoration: line-through;
  /* transform: translateX(460%); */
}